@import './variables.scss';
@import './subpage.scss';

// General structures
html {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    position: relative;
    scroll-behavior: smooth;  
    height: 100vh;
    overflow: hidden;

    // Font size changes for various resolutions
    @media screen and (min-width: 2048px) { //2k
        font-size: 1.5em;
    }

    @media screen and (min-width: 2560px) { //1440p
        font-size: 1.8em;
    }

    @media screen and (min-width: 3840px) { //4k
        font-size: 3em;
    }

    @media screen and (min-width: 5000px) { 
        font-size: 4em;
    }

    @media screen and (min-width: 6000px) { 
        font-size: 5em;
    }

    @media screen and (min-width: 7680px) { //8k
        font-size: 6em;
    }
}

.main {
    position: relative;
    scroll-behavior: smooth;  
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    color: $red;
    font-size: 2.5em;
}

h2 {
    color: $red;
    font-size: 2em;
}

h1, h2 {
    margin-top: 2em;
}

.block {
    display: block;
    margin: .5em auto;
}

.mt {
    margin-top: 1em;
}

.mt2 {
    margin-top: 2em;
}

a {
    color: $red;

    &:visited { color: $red; }
    &:hover { color: lighten($red, 25%); }
}

button {
    display: block;
    margin: .5em auto;
    background-color: $darkblue;
    color: white;
    font-size: 1em;
    box-shadow: none;
    border: none;
    padding: .5em;
    min-width: 8em;
    cursor: pointer;
    border-radius: .1em;

    &:hover {
        filter: brightness(1.3);
    }

    &.red {
        background-color: $red;
    }
}

.centered {
    text-align: center;
}

.right-align {
    text-align: right;
}

.small {
    font-size: .8em;
    margin: 0;
}

.margin-border {
    margin: 6em 1em 1em 1em;

    @media screen and (min-width: 500px) {
        margin: 1em;
    }
}  

img.bg {
    display: none;
        
    @media screen and (min-width: 350px) {
        display: block;
        position: absolute;
        top: 0; left: 0;
        object-fit: cover;
        min-width: 100%;
        height: 200%;
        opacity: .2;
        z-index: -1;
        pointer-events: none;
    }
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    img {
        width: 5em;
        border-radius: 50%;
        background-color: white;//rgba(255,255,255,.25);
    }
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    // overflow: hidden; 
    max-width: 100%; 
    background-color: black;
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; height: 100%; 
}

.modal {
    position: fixed;
    top: 0; left: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.9);
    width: 100%;
    height: 100vh;

    .inner {
        border-radius: .1em;
        background-color: white;
        padding: 1em;
        max-width: 90%;
        width: 50em;
        box-sizing: border-box;
    }
}

.close {
    color: white;
    font-size: 3em;
    position: absolute;
    top: .25em;
    right: .5em;
    cursor: pointer;
}

// Events
.events {
    a {
        color: white;
        &:hover { color: $lightblue; }
    }

    ul {
        padding-left: 0;
        
        li {
            list-style-type: none;
            padding: 1em;
            background-color: rgba($darkblue, .7);
            border-radius: .1em;
            color: white;

            & + li { margin-top: .25em; }
        }
    }

    .eventBtn {
        margin: 2em auto 0 auto;
        padding: 1em;
        background-color: rgba($darkblue, .7);
        border-radius: .1em;
        max-width: 10em;
    }

    .overflow-box {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .overflow-box + .overflow-box, .event-links {
        margin-top: .5em;
    }
}