// Variables
$desktop-width: 1200px;

$red: #d40f41;
$gray: #424242;
$lightgray: #f0f0f0;
$lightblue: #a0d1ff;
$darkblue: #0053a0;
$box-shadow: 0 0 4px 0 rgba(0,0,0,.6);
$accent-color: #e4d7c9;

$notMobile: "screen and (min-width: " + $desktop-width + ") and (min-aspect-ratio: 13/10) and (max-aspect-ratio: 12/5)";
